<!DOCTYPE html>
<html>
<head>
    <title>Work Prediction</title>
</head>
<body>
    <h1>Predict My Workload</h1>
    <form method="POST" action="http://localhost:5000/predict">
      <label for="mood">How's your mood today? (0-5)</label><br>
      <input type="number" id="mood" name="mood" min="0" max="5"><br><br>
      <label for="sleep">How many hours did you sleep last night? (0-10)</label><br>
      <input type="number" id="sleep" name="sleep" min="0" max="10"><br><br>
      <input type="submit" id="prediction" value="Predict">
  </form>
</body>
</html>
