<!DOCTYPE html>
<html>
<head>
    <title>Work Prediction</title>
</head>
<body>
    <h1>Predict My Workload</h1>
    <form method="POST" action="/">
        <label for="mood">How's your mood today? (0-5)</label><br>
        <input type="number" id="mood" name="mood" min="0" max="5"><br><br>
        <input type="submit" id="prediction" value="Predict">
    </form>

    {% if prediction is not none %}
    <p>Your predicted workload for today is: {{ prediction }}</p>
    {% endif %}
</body>
</html>
